node_modules/
.next/
out/
build/
dist/
coverage/
*.log
logs/
*.lcov
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
*.tsbuildinfo
.npm/
.eslintcache
.stylelintcache
.node_repl_history
*.tgz
.parcel-cache/
.cache/
.nyc_output/
.grunt/
jspm_packages/
web_modules/
.nuxt/
.output/
.vuepress/dist/
.temp/
.svelte-kit/
**/.vitepress/dist/
**/.vitepress/cache/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port
.vscode-test/
.pnpm-store/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.vite/
.lock-wscript
.DS_Store
.idea/
.vscode/
